/* -----  共通項目  ----- */

* {
    font-size: 24px;
}

main {
    padding-top: 4rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2,
h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.message-container {
    position: relative;
}

@media screen and (min-width: 640px) {
    .message-container {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 668px) {
    h1.display-1 {
        text-align: center;
    }
    .message-container {
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 1024px) {
    * {
        font-size: 16px;
    }

    h2, h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

    .my-5 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}


/* -----　indexページ　----- */


.introduction {
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

.self-shot {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 95px 0px 95px 0px;
}

.border-right {
    border-right: 2.5px solid black;
}

.border-left {
    border-left: 2.5px solid black;
}

.form-floating {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 668px) {

    /* .h2-size{
        margin-bottom: 1rem !important;
    } */

    .carousel-size {
        width: 80% !important;
        /* padding: 0rem !important; */
    }

    .carousel-title {
        position: absolute;
        top: -180%;
        right: 0;
        left: 0;
    }
}

/* -----　indexページここまで　----- */


/* -----  ポートフォリオ一覧  ----- */
/* -----  ポートフォリオ一覧画像エフェクト  ----- */


.image-container {
    position: relative;
}

.image-container:hover img {
    filter: brightness(50%);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.image-container:hover .overlay-text {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

/* -----  ポートフォリオ一覧画像エフェクト  ----- */

/* -----  ポートフォリオ一覧ここまで  ----- */


/* -----  ブログ一覧  ----- */

.my-card-img {
    width: 320px;
}

@media screen and (max-width: 768px) {
    .my-card {
        max-width: 80% !important;
    }

    .my-card-img {
        width: 240px;
    }

    .my-card-position {
        text-align: center;
        margin-top: 1.5rem;
    }
}


/* -----  ブログ一覧ここまで  ----- */


/* -----  ブログ記事  ----- */

.blog {
    margin: 0px auto 0px auto;
}

@media screen and (max-width: 768px) {
    .p-size {
        width: 90% !important;
        line-height: 1.5rem;
        letter-spacing: 0.2rem;
    }
}
/* -----  ブログ一覧ここまで  ----- */